{% extends 'base.html' %}
{% block content %}



{% for event in events %}
<a href="{% url 'events_detail' event.id %}">
        <div class='card-container'>
        <div id='card-name'> {{ event.name }}</div>
        <div class='card-img'><img src="{{ event.image.url }}"></div>
        <div id='card-date'> {{ event.date }}</div>
        <div id='card-loc'> {{ event.location }}</div>
        <div id='card-desc'> {{ event.description }}</div>
</div>
</a>       
      
{% endfor %}

{% endblock %}