{% extends 'base.html' %}
{% block content%}
{% load static %}

<!-- Event Detail Form -->

<div><h1 class='form-h1'>{{ event.name}}</h1></div> 
<div class='img-div'><img id='logo' src="{% static 'img/logo.png' %}"></div>
<p id='age'>{{ event.location }}</p>
<p id='age'> {{ event.date }}</p>
<p id='breed'> {{ event.time }}</p>
<p id='age'>{{ event.description }}</p>
<br>
<hr>
<br>
<p id='age'> Dogs Attending:</p> 
{% if event.attendees.count > 0 %}
<p id='age'>Click to Remove Your Dog(s)</p>
<div class='center'>           
    {% for attendee in event.attendees.all %}  
        {% if user != attendee.user %}
        <form class="icon" action="{% url 'detail' attendee.id %}" method="post">
            {% csrf_token %}    
            <button type="submit" class="btn-add-remove"><img id='dog-pic-icon' src="{{ attendee.image.url }}"></button>
            <p id='breed'>{{ attendee.name}}</p>
        </form>
        {% else %}
        <form class="icon" action="{% url 'unassoc_dog' event.id attendee.id %}" method="post">
            {% csrf_token %}    
            <button type="submit" class="btn-add-remove"><img id='dog-pic-icon' src="{{ attendee.image.url }}"></button>
            <p id='breed'>{{ attendee.name}}</p>
        </form>
        {% endif %}
    {% endfor %}
</div> 
{% else %}
<p id='age'>No Play Dogs Currently Attending</p>
{% endif %}
{% if my_dogs.count %}
<hr>
<p id='age'> My Dogs:</p>
    {% if dogs_not_attending.count == 0 %}
    <p id='age'>All Your Dogs Are Attending!</p>
    {%else%}
    <p id='age'>Click to Add Your Dog(s)</p>
    {% endif %}
<div class='center'>           
    {% for dog in my_dogs %}
        {% if dog in dogs_not_attending %}
        <form class="icon" action="{% url 'assoc_dog' event.id dog.id %}" method="post">
            {% csrf_token %}    
            <button type="submit" class="btn-add-remove"><img id='dog-pic-icon' src="{{ dog.image.url }}"></button>
            <p id='breed'>{{ dog.name }}</p>
        </form>
        {% endif %}
    {% endfor %}
</div> 
{% endif %}    
<br>
<div id="map"></div>
{% if user == event.user %}
<div class='btn-contain'>       
        <a class='btn' href="{% url 'events_update' event.id %}">Edit Event</a> 
        <a class='btn' href="{% url 'events_delete' event.id %}">Delete Event</a>       
</div>  
{% endif %}
<script>
    $( function() {
      $( "#datepicker" ).datepicker();
      } );
    let latitude = parseFloat("{{event.lat}}");
    let longitude = parseFloat("{{event.lng}}");
    var mymap = L.map('map').setView([latitude, longitude], 15);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: "{{api_key}}"
        }).addTo(mymap);
    let eventMarker = new L.marker([latitude, longitude]);
    eventMarker.addTo(mymap);
  </script>
{% endblock %}