{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Play Dog</title>
</head>
<body>

    <nav class='nav'>
        <div id='play-dog'>Play Dog</div>
        <div><a href="{% url 'events_create' %}"><i class="fa fa-plus-square-o"></i></a></div>
    </nav>
    


    <main class='container'>
        {% block content %}
        {% endblock %}
    </main> 
    {% if user.is_authenticated %}
    <footer class='flex-foot'>
        <div><a id='i-1' href="{% url 'events_index' %}"><i class="fa fa-home"></i></a></div>
        <div><a id='i-2' href="{% url 'logout' %}"><i class="fa fa-sign-in"></i></a></div>
        <div><a id='i-3' href="{% url 'dogs_index' %}"><i class="fa fa-paw"></i></a></div>
    </footer> 
    <footer class='flex-foot-text'>
        <div id='txt-1'>Home</div>     
        <div id='txt-2'>Logout</div>
        <div id='txt-3'>Dogs</div>
    </footer>
        {%else%}   
        <footer class='flex-foot'>
            <div><a id='i-1' href="{% url 'events_index' %}"><i class="fa fa-home"></i></a></div>
            <div><a id='i-2' href="{% url 'login' %}"><i class="fa fa-sign-in"></i></a></div>
            <div><a id='i-3' href="{% url 'dogs_index' %}"><i class="fa fa-paw"></i></a></div>
        </footer> 
        <footer class='flex-foot-text'>
            <div id='txt-1'>Home</div>     
            <div id='txt-2'>Login</div>
            <div id='txt-3'>Dogs</div>
        </footer>
        {%endif%}     
 

    <!--JS FOR FOOTER BTN COLOR CHANGES-->

    <script>
        let i = document.getElementById('i-1')
        let txt = document.getElementById('txt-1')
        let i2 = document.getElementById('i-2')
        let txt2 = document.getElementById('txt-2')
        let i3 = document.getElementById('i-3')
        let txt3 = document.getElementById('txt-3')

        i.addEventListener('click', (e) => {
            i.style.color = 'black';
            txt.style.color = 'black';
            i2.style.color = 'rgba(131, 129, 129, 0.815)';
            txt2.style.color = 'rgba(131, 129, 129, 0.815)';
            i3.style.color = 'rgba(131, 129, 129, 0.815)';
            txt3.style.color = 'rgba(131, 129, 129, 0.815)';
        })

        i2.addEventListener('click', (e) => {
            i2.style.color = 'black';
            txt2.style.color = 'black';
            i.style.color = 'rgba(131, 129, 129, 0.815)';
            txt.style.color = 'rgba(131, 129, 129, 0.815)';
            i3.style.color = 'rgba(131, 129, 129, 0.815)';
            txt3.style.color = 'rgba(131, 129, 129, 0.815)';
        })

        i3.addEventListener('click', (e) => {
            i3.style.color = 'black';
            txt3.style.color = 'black';
            i.style.color = 'rgba(131, 129, 129, 0.815)';
            txt.style.color = 'rgba(131, 129, 129, 0.815)';
            i2.style.color = 'rgba(131, 129, 129, 0.815)';
            txt2.style.color = 'rgba(131, 129, 129, 0.815)';
        })
    </script>

</body>
</html>