<!-- Launch Page -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">  
   
    <title>Play Dog</title>
</head>

<div><h1 class='form-h1-home'>PLAY DOG</h1></div> 
<a href="{% url 'events_index' %}"><div class='img-div'><img id='logo-lrg' src="{% static 'img/logo.png' %}"></div></a>
<div><h1 class='form-h1'>DOES YOUR POOCH NEED A PLAYDATE?</h1></div> 
<div class='paw'>
    <a href="{% url 'events_index' %}"><i id='home-paw' class="fa fa-paw"></i></a>
    <h3 id='h3-txt'>Click the paw!</h3>
</div>

