*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  font-weight: 400;
  line-height: 1.7;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: rgba(255, 255, 255, 0.863);
  }

  #i-1,
  #txt-1 {
    color: black;
  }

  #i-2,
  #txt-2 {
    color: rgba(131, 129, 129, 0.815);
  }

  #i-3,
  #txt-3 {
    color: rgba(131, 129, 129, 0.815);
  }

  div#play-dog {
    font-family: "Luckiest Guy", cursive;
    font-size: 2.3rem;
    padding-left: 1rem;
    font-weight: lighter;
    margin-top: 0.5rem;
    color: chocolate;
    text-shadow: -1px 2px 0px #00e6e6, -2px 4px 0px #01cccc,
      -3px 6px 0px #00bdbd;
    letter-spacing: 1.5px;
  }

  nav > div:last-child {
    margin-left: auto;
    padding-right: 1rem;
  }

  .nav {
    border-bottom: 0.5px solid transparent;
    background-color: rgb(248, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-foot {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    bottom: 2.5%;
    left: 0;
    width: 100%;
    border-top: 0.5px solid rgba(184, 184, 184, 0.582);
    background-color: rgb(253, 253, 253);
  }

  .flex-foot-text {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(253, 253, 253);
    font-size: 0.9rem;
    font-family: "Pattaya", sans-serif;
    color: rgb(131, 129, 129, 0.815);
  }
  i.fa {
    font-size: 2rem;
    padding-top: 0.2rem;
    outline: none;
  }

  .btn-home {
    text-decoration: none;
    border: 1px solid black;
    background-color: black;
    padding: 0.3rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    color: white;
  }
  a {
    color: black;
    text-decoration: none;
  }

  #img {
    height: 1.5rem;
    width: 1.8rem;
    margin: auto;
  }
  .logo-div {
    text-align: center;
    padding-top: 0.5rem;
  }

  :focus {
    -webkit-tap-highlight-color: transparent;
    color: rgba(201, 201, 201, 0.747);
  }

  .card-container {
    text-align: center;
    border: 1px solid white;
    height: 19rem;
    background-color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .card-img {
    height: 10rem;
    width: 90vw;
    margin-left: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  #card-name {
    font-size: 1.8rem;
    font-family: "Luckiest Guy", cursive;
    font-weight: 700;
    padding-left: 1rem;
    color: teal;
  }

  #card-desc {
    padding-left: 1rem;
    color: rgb(0, 0, 0);
    font-family: "Comfortaa", cursive;
    font-size: 0.8rem;
  }

  #card-date {
    margin-top: 0.8rem;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Comfortaa", cursive;
  }

  #card-loc {
    font-family: "Comfortaa", cursive;
    padding-left: 1rem;
    font-size: 0.8rem;
    color: gray;
  }

  img {
    height: 10rem;
    width: 90vw;
    object-fit: cover;
    border-radius: 5px;
  }

  .input {
    width: 94vw;
    margin-left: 1rem;
    margin-bottom: 10px;
    padding: 13px;
    border: 1px solid gainsboro;
    font-family: "Comfortaa", cursive;
    color: black;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
  }

  .input-pic {
    width: 96vw;
    margin-left: 1rem;
    padding: 13px;
    margin: 7px;
    border: 1px solid gainsboro;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 5px;
  }

  .btn {
    width: 96vw;
    margin-left: 1rem;
    padding: 0.7rem;
    margin: 7px;
    border: 1px solid transparent;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    color: white;
    background-image: linear-gradient(to right bottom, teal, rgb(2, 139, 139));
    border-radius: 5px;
  }

  .form-h1 {
    padding-top: 1rem;
    text-align: center;
    margin-bottom: 0;
    font-family: "Luckiest Guy", cursive;
    font-size: 2.5rem;
  }

  .form-field {
    height: 100vh;
    background-color: white;
    position: relative;
  }

  #logo {
    height: 3rem;
    width: 4rem;
  }

  .img-div {
    text-align: center;
    padding-bottom: 1rem;
  }

  input::-webkit-file-upload-button {
    font-family: "Montserrat", sans-serif;
    padding: 0.7rem;
    border-radius: 5px;
    border: 1px solid transparent;
    color: white;
    background-image: linear-gradient(to right bottom, teal, rgb(2, 139, 139));
  }
  textarea {
    resize: none;
  }

  #name {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
  }
  #age {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
  }
  #breed {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: rgb(122, 122, 122);
    margin-bottom: 1rem;
  }

  #dog-pic {
    margin-top: 0.8rem;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #dog-pic-sqr {
    margin-top: 0.8rem;
    height: 12rem;
    width: 19rem;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #dog-pic-lrg {
    margin-top: 0.8rem;
    border-radius: 50%;
    height: 14rem;
    width: 14rem;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #dog-pic-lrg-sqr {
    margin-top: 0.8rem;
    height: 14rem;
    width: 20rem;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #dog-pic-icon {
    margin-top: 0.8rem;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    object-fit: cover;
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }

  #dog-p {
    font-family: "Montserrat", sans-serif;
    margin-left: 1rem;
    font-weight: 900;
  }
  hr {
    width: 50vw;
    margin: auto;
    opacity: 0.2;
  }

  .btn-contain {
    margin-top: 2rem;
    text-align: center;
  }

  .login-cont {
    text-align: center;
    margin: 1rem;
    padding-top: 3rem;
  }

  .icontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .icon {
    display: flex;

  }

  .btn-add-remove {
    border: 1px solid transparent;
    background-color: transparent;
  }
}

